################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Learn01Sol/.vs
/Learn01Sol/Learn01/bin
